.axis line,
.axis circle {
	stroke: #cccccc;
	stroke-width: 1px;
}

body {
	padding: 0;
	box-sizing: border-box;
	background-color: $background;
	margin: 0;
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    
    .content {
        box-sizing: border-box;
        margin-top: 50px;
        padding: 1% 15%;
    
        @media(max-width: 768px) {
            padding: 1% 5%;
        }
    
        @media(max-width: 380px) {
            padding: 1% 5%;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $dark_blue;
}

p {
    line-height: 1.5em;

    &.body {
        font-size: 1.1em;
    }
}

a {
    text-decoration: none;
    color: $dark_blue;
    border-bottom: 1px solid rgba($dark_blue, 0.3);
    box-shadow: 0px 3px 0px rgba($dark_blue, 0.3);
    transition: all 0.2s ease;

    &:hover, &:focus, &:active {
        color: lighten($dark_blue, 20%);
    }
}


.navbar {
	background-color: rgba(white, 1);
	border-top: 4px solid $dark_blue;
	width: 100%;
	position: fixed;
	height: 45px;
	padding: 5px 25px;
	z-index: 99;
	top: 0;
	color: $dark_blue;
	box-shadow: 0px 5px 30px -8px rgba($dark_blue, 0.3);

	.title {
		font-size: 1.5em;
		margin: 0;
		font-weight: 500;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    @media(max-width: 768px) {
        flex-wrap: wrap;
    }
}


.card {
	box-sizing: border-box;
	background-color: white;
	border-radius: 5px;
	margin: 20px;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

	box-shadow: 0px 18px 12px -15px rgba($dark_blue, 0.3);
	
	@media(max-width: 768px){
		margin: 15px 5px;
	}

	@media(max-width: 320px) {
		padding: 20px 10px;
	}

	.card-title {
		font-size: 1.6em;
		font-weight: 500;
		color: $very_dark_blue;
		display: block;
		padding-bottom: 10px;
		border-bottom: 1px solid $light_gray;
		margin-bottom: 15px;
	}
}

