@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

$very_dark_blue: #001970;
$dark_blue: #0026ca;
$light_blue: #e3f2fd;
$light_gray: #cfd8dc;
$background: #eceff1;

@import "./modules/components";
@import "./modules/charts";
@import "./modules/buttons";
@import "./modules/inputs";
@import "./App.scss";

